{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Showcase : Manage and promote your construction and landscaping portfolio </p>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1646082553/showcase/310-1-3D_View_1_ersrii.jpg">
    </p>
  </div>
  <div class="content">
    <p class="subtitle">Overview</p>
    <p>Showcase is a web app that allows Vendors in the construction and landscaping industy to <i>showcase</i> their work to potential Clients.</p> <br>
    <p class="subtitle">User Sign Up and Login</p>
    <p>Initially, users will sign up for the first time, where they can enter their name, email address, and secure password. They will also be required to enter whether they are a Vendor or Client, which will determine which login page they use.</p> 
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654207761/showcase/Picture3_b9sfoz.jpg">
    </p>
    <p>Once returned to the main page, they can then log in to their profile, ensuring they have selected the appropriate user type.</p> <br>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654207850/showcase/login_nlcbt5.png">
    </p>
    <p class="subtitle">Portfolio Creation</p>
    <p>Once logged in, Vendor users can see a list of their existing Portfolios and create themed Portfolios based on different categories, including:</p>
    <ul>
      <li>Extensions</li>
      <li>Renovations</li>
      <li>New Builds</li>
      <li>Landscaping</li>
      <li>Commercial</li>
    </ul><br>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654208131/showcase/porfoliodashboard_bqxzso.png">
    </p>
    <p class="subtitle">Project Creation</p>
    <p>Once a Portfolio has been created, Vendors are then able to add Projects to that Porfolio by clicking the "Projects" link on the Portfolio dashboard. Initial details collected for each Project include:</p>
    <ul>
      <li>The Project title</li>
      <li>The Project style (e.g. modern, traditional, open-plan, etc)</li>
      <li>The Project location (latitude and longitude co-ordinanates)</li>
      <li>The Project size (area in sq. meters)</li>
      <li>The Project cost</li>
      <li>A detailed Project description</li>
      <li>Visability</li>
    </ul>
    <p>It should be noted that "visability" refers to whether the project will be displayed publically to the Client users.</p>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654208652/showcase/projectcreation_obulld.png">
    </p>
    <p>When a Project is added to a Portfolio, the location of the Project is displayed as a marker on a map, to demonstrate where a Vendor's work is concentrated.</p> <br>
    <p>Projects within a Portfolio are listed with brief details, however clicking into individual Projects allows display of detailed information, including a display of images related to the Project.</p> 
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1648082327/showcase/showcaseprojectdetails3_uqhxsf.png">
    </p>
    <p>Here, Project details can also be edited and updated, including images.</p>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654208844/showcase/updateproject_hporvk.png">
    </p>
    <p class="subtitle">Project Reviews</p>
    <p>A list of reviews for each Project can be found by clicking the "Project Reviews" buttons on the list of Projects within the Portfolio view. Here, Vendors can see ratings and comments that Clients have provided for a project, whilst also having the opportunity to provide a response where appropriate.</p>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654209653/showcase/projectreview_tvtb0y.png">
    </p>
    <p class="subtitle">Client Notices</p>
    <p>To help look for potential future projects, Vendors can click the "Client Notices" tab in the main menue to browse a list of Notices that have been posted by Clients seeking services. These Notices can be filtered according to the Project type (related to Portfolio categories).</p>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654210070/showcase/listofClientnotices_gmkdsy.png">
    </p>
    <p>Clicking into a Notice will provide more details about the type of work required, including:</p>
    <ul>
      <li>The Notice title</li>
      <li>The name of the Client</li>
      <li>The Notice location (latitude and longitude co-ordinanates)</li>
      <li>The Project category (e.g. Extensions, Renovations, New Builds)</li>
      <li>The Project style (e.g. modern, traditional, open-plan, etc)</li>
      <li>The Vendor category they are seeking (e.g. architects, builders, etc)</li>
      <li>A detailed request</li>
    </ul>
    <p>There will also be an opportunity for the Vendor to open a Discussion with the Client, by entering a discussion topic (e.g. "We can help") and clicking the "Create Discussion" button.</p>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654210310/showcase/noticedetailsforvendor_vp3vfl.png">
    </p>
    <p>Once a Discussion has been created, a link will appear to access that Discussion. It should be noted that a single Vendor can only create one Discussion per Notice, but multiple Vendors may create Discussions for a single Notice.</p>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654210897/showcase/accessdiscussion_vsnard.png">
    </p>
    <p>Accessing a Discussion will allow the Vendor and Client to post and view a series of Responses, creating a dialogue relating to the posted Notice. This would provide an opportunity to exchange contact details for further business discussions.</p>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654211380/showcase/discussoinresponses_ynx2yf.png">
    </p>
    <p>A list of all of a Vendor's ongoing Discussions can be accessed via the "My Discussions" tab in the main menu. Here, for each Discussion, the Vendor can either click to view the original Notice that the Discussion related to, or click to view the Response dialogue with the Client.</p>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654211907/showcase/vendordiscussionslist_zigl2e.png">
    </p><br>
    <p class="subtitle">Update Profile</p>
    <p>A user can update their Profile by clicking on the "Profile" tab of the main menu. Once details have been added, clicking the "Update Profile" button will bring the user back to the Showcase landing page.</p>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654252606/showcase/profilepage_axllef.png">
    </p>
    <p class="subtitle">Admin Dashboard</p>
    <p>In addition to Vendor and Client user logins, an Admin login has been provided with a predefined email and password (admin@email.ie, password) for authentication. Within the admin dashboard, general app analytics are provided, including:</p>
    <ul>
      <li>Total number of users</li>
      <li>Total number of portfolios</li>
      <li>Total number of projects</li>
      <li>The maximum number of portfolios for any one user</li>
      <li>The user with the most portfolios (email address)</li>
      <li>The maximum number of projects for any one user</li>
      <li>The user with the most projects (email address)</li>
      <li>The most expensive project (€)</li>
      <li>The user with the most expensive project</li>
      <li>The largest area project (sq. meters)</li>
      <li>The user with the largest project</li>
    </ul><br>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1648312077/showcase/showcaseadmin2_eusqbr.png">
    </p>
    <p>Below the analytics, statistics on individual users can also be retrieved by entering the user email, including:</p>
    <ul>
      <li>Total number of portfolios for the user</li>
      <li>Total number of projects for the user</li>
    </ul> <br>
    <p>Finally, the admin dashboard lists all users for the app, including their assigned ID, in order of their sign up (first sign up first). Here, users can be deleted from the app permanently.</p><br>
  </div>
</section>