{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Showcase : Inspire and find partners for your construction and landscaping project </p>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1646082553/showcase/310-1-3D_View_1_ersrii.jpg">
    </p>
  </div>
  <div class="content">
    <p class="subtitle">Overview</p>
    <p>Showcase is a web app that allows Clients looking to create a construction or landscaping Project to browse other <i>showcase</i> Projects, which they can use for inspiration or as a means of partnering with Vendors to realise their vision.</p> <br>
    <p class="subtitle">User Sign Up and Login</p>
    <p>Initially, users will sign up for the first time, where they can enter their name, email address, and secure password. They will also be required to enter whether they are a Vendor or Client, which will determine which login page they use.</p> 
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654249637/showcase/clientsignup_qndopt.png">
    </p>
    <p>Once returned to the main page, they can then log in to their profile, ensuring they have selected the appropriate user type.</p> <br>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654249432/showcase/clientlogin_god44e.png">
    </p>
    <p class="subtitle">Projects Browsing</p>
    <p>Once logged in, Client users can use the dashboard to browse differnt Projects that have been posted by Vendors, with the ability to filter Projects based on different categories, including:</p>
    <ul>
      <li>Extensions</li>
      <li>Renovations</li>
      <li>New Builds</li>
      <li>Landscaping</li>
      <li>Commercial</li>
    </ul>
    <p>The Projects are also shown on a map to help identify where their different locations are.</p><br>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654249800/showcase/projectsdashboard_c6mllp.png">
    </p>
    <p class="subtitle">Project Details</p>
    <p>Clients are able to click on the "Project Details" link to view different details relating to a specific Project, including:</p>
    <ul>
      <li>The Project title</li>
      <li>The Vendor name</li>
      <li>The Project location (latitude and longitude co-ordinanates)</li>
      <li>The Project style (e.g. modern, traditional, open-plan, etc)</li>
      <li>The Project size (area in sq. meters)</li>
      <li>The Project cost</li>
      <li>A list of images</li>
    </ul>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654250461/showcase/projectdetails_jk13n9.png">
    </p>
    <p>On the Project details page, the Client also has the option of clicking the "Add to Favourites" button, which includes the Project in a list of personal Favourites.</p><br>
    <p>Other features of the Project details page include the ability to see the average rating Clients have given the Project, as well as the ability to add a Review and Rating.</p>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654251152/showcase/addreview_soyf4o.png">
    </p>
    <p>A full list of a Client's Favourites can be accessed via the "My Favourites" menu.</p> <br>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654251272/showcase/favouriteslist_ytcnmq.png">
    </p>
    <p>Similarly, a full list of a Client's Reviews can be accessed via the "My Reviews" menu. This list will also display any Vendor replies to the Review</p> <br>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654251343/showcase/reviewlist_dbmvpl.png">
    </p>
    <p class="subtitle">Client Notices</p>
    <p>To help look for support for a potential Project, Clients can click the "My Notices" tab in the main menue where they can post a Notice to prospective Vendors seeking services.</p>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654251657/showcase/clientnotices_diojc4.png">
    </p>
    <p>Details provided for a Notice include:</p>
    <ul>
      <li>The Notice title</li>
      <li>The Notice location (latitude and longitude co-ordinanates)</li>
      <li>The Project category (e.g. Extensions, Renovations, New Builds)</li>
      <li>The Project style (e.g. modern, traditional, open-plan, etc)</li>
      <li>The Vendor category they are seeking (e.g. architects, builders, etc)</li>
      <li>A detailed request</li>
    </ul>
    <p>All of a Client's existing Notices will be listed and there will be an option to Click into any Notice for further details.</p><br>
    <p>Within the Notice details, a Client can update any specific fields of a Notice, or access Discussions that different Vendor's may have initiated related to the Notice. It should be noted that a single Vendor can only create one Discussion per Notice, but multiple Vendors may create Discussions for a single Notice.</p>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654252024/showcase/noticedetails_rcg255.png">
    </p>
    <p>By clicking into a specific Discussion's details, the Client has an opportunity to see the previous Responses provided (e.g. by the Vendor), as well as having an ability to add new Responses, enabling a dialogue between users. This would provide an opportunity to exchange contact details for further business discussions. </p>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654252238/showcase/discussiondetails_nhk1vj.png">
    </p><br>
    <p class="subtitle">Update Profile</p>
    <p>A user can update their Profile by clicking on the "Profile" tab of the main menu. Once details have been added, clicking the "Update Profile" button will bring the user back to the Showcase landing page.</p>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1654252606/showcase/profilepage_axllef.png">
    </p>
    <p class="subtitle">Admin Dashboard</p>
    <p>In addition to Vendor and Client user logins, an Admin login has been provided with a predefined email and password (admin@email.ie, password) for authentication. Within the admin dashboard, general app analytics are provided, including:</p>
    <ul>
      <li>Total number of users</li>
      <li>Total number of portfolios</li>
      <li>Total number of projects</li>
      <li>The maximum number of portfolios for any one user</li>
      <li>The user with the most portfolios (email address)</li>
      <li>The maximum number of projects for any one user</li>
      <li>The user with the most projects (email address)</li>
      <li>The most expensive project (€)</li>
      <li>The user with the most expensive project</li>
      <li>The largest area project (sq. meters)</li>
      <li>The user with the largest project</li>
    </ul><br>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1648312077/showcase/showcaseadmin2_eusqbr.png">
    </p>
    <p>Below the analytics, statistics on individual users can also be retrieved by entering the user email, including:</p>
    <ul>
      <li>Total number of portfolios for the user</li>
      <li>Total number of projects for the user</li>
    </ul> <br>
    <p>Finally, the admin dashboard lists all users for the app, including their assigned ID, in order of their sign up (first sign up first). Here, users can be deleted from the app permanently.</p><br>
  </div>
</section>